<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
	body{
	background: url(squairy_light.png);
}
	.wrap{
		margin: 0 auto;
		width: 800px;
}
	header, footer {
		background: #CCC;
		}
	</style>
</head>	
<body>
	<div class="wrap">
		<header>
		<h1>This is a header</h1>
		</header>
		<section>
		<p>Changes last year in how Facebook shared information meant that 
simply hiding your name from search really didn't do much to keep you from 
being found.  A determined individual could find you by looking at your friends' 
profiles, or by locating you in photos. It also made Facebook search 
appear wonky, because someone could be looking at a picture of you but 
still not find you in search.How to Stay (Mostly) Hidden What Facebook 
would like you to do, and what is arguably safer anyway, is to use more 
fine-grained controls for who sees what you post.  Facebook has some quick 
links to some of these controls in the upper right of each page, accessible
by clicking the padlock icon. Here you can quickly adjust </P>
		<p>What Facebook would like you to do, and what is arguably safer 
anyway, is to use more fine-grained controls for who sees what you post.  
Facebook has some quick links to some of these controls in the upper right 
of each page, accessible by clicking the padlock icon. Here you can quickly 
adjust who sees future posts, add people you'd like to block, and change message 
filtering options.</P>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>